<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" >
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*]Program.cs</Exclude>
          <ExcludeByFile>**/*Program.cs</ExcludeByFile>
          <ExcludeByFile>./Program.cs</ExcludeByFile>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <ExcludeByFile>**/API/Program.cs</ExcludeByFile>
          <ExcludeByFile>**_\\src/**/*.cs</ExcludeByFile>
          <Exclude>[*]Tests.cs</Exclude>
          <ExcludeByFile>**/*Tests.cs</ExcludeByFile>
          <Exclude>_\src</Exclude>
          <Include>[Backend.API]*</Include>
          <ExcludeByFile>**/_\src/**/*.cs</ExcludeByFile>
          <ExcludeByFile>**FluentValidation/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>